# C extensions
*.so

# pycharm
.idea

# virtual env config
venv

# environment variable
.env

# Flask stuff:
instance/

# Bytcodes:
*.pyc

# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class